:root {
  --ts-var-viz-title-color: rgb(17, 63, 80);
  --ts-var-button--secondary--hover-background: #0073a4;
  --ts-var-button--secondary-background: #0073a4;
  --ts-var-button--secondary-color: #fff",
}
